# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# Local/Executed notebooks (optional, keeping main.ipynb clean)
# main_executed.ipynb
